<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Jobfy</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/boot.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="flex">
			<div class="header-top">
				<a href="/">
					<img src="/images/jobfy.jpg" alt="jobfy" title="jobfy">
				</a>
				<p>We are Jobfy - Join Us</p>
			</div>
		</div>
	</div>