<%- include('header') %>
    <div class="box-open-vaga">
		<h1>Admin:</h1>
	</div>

    <ul>
        <li><a href="/admin/categorias"> Gerenciar Categoriass </a></li>
        <li><a href="/admin/vagas"> Gerenciar Vagas </a></li>
    </ul>

<%- include('footer') %>
