<%- include('header') %>

	<div class="box-open-vaga">
		<h1><%- vaga.titulo %></h1>
	</div>

	<div class="container">
		<div class="flex">
			<div class="content">
				
				<div class="box-vaga">
					<p><%- vaga.descricao %></p>
				</div>

			</div>
		</div>
	</div>

<%- include('footer') %>